
@{
    ViewBag.Title = "ESBMusiker";
}
<link rel="stylesheet" href="~/styles/css.css" />
<link rel="stylesheet" href="~/styles/bootstrap.min.css" />

<h2>ESBMusiker</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 1</h3>
            <p>Information om spelare 1 och en bild kanske</p>
        </div>
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 2</h3>
            <p>Information om spelare 2 och en bild kanske</p>
        </div>
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 3</h3>
            <p>Information om spelare 3 och en bild kanske</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 4</h3>
            <p>Information om spelare 4 och kanske en bild</p>
        </div>
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 5</h3>
            <p>Information om spelare 5 och kanske en bild</p>
        </div>
        <div class="col-md-4 shadow" >
            <img src="http://placehold.it/150x150">
            <h3>Spelare 6</h3>
            <p>Information om spelare 6 och kanske en bild</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 7</h3>
            <p>Information om spelare 7 och kanske en bild</p>
        </div>
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 8</h3>
            <p>Information om spelare 8 och kanske en bild</p>
        </div>
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 9</h3>
            <p>Information om spelare 9 och kanske en bild</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 10</h3>
            <p>Information om spelare 10 och kanske en bild</p>
        </div>
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 11</h3>
            <p>Information om spelare 11 och kanske en bild</p>
        </div>
        <div class="col-md-4 shadow">
            <img src="http://placehold.it/150x150">
            <h3>Spelare 12</h3>
            <p>Information om spelare 12 och kanske en bild</p>
        </div>
    </div>
</div>


<script src="~/Scripts/bootstrap.min.js"></script>

