
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/styles/css.css" />
<link rel="stylesheet" href="~/styles/bootstrap.min.css" />


<h2>Hej och välkommen!</h2>

<div class="container-fluid firstContainer">
    <div class="row">
        <div class="col-md-4" style="border:2px solid black;">
            <p>Detta är första sidan som komme</p>
        </div>
        <div class="col-md-4" style="border:2px solid black;">
            <p>Detta är första sidan som kommer </p>
        </div>
        <div class="col-md-4" style="border:2px solid black;">
            <p>Detta är första sidan</p>
        </div>
    </div>
    


</div>

<script src="~/Scripts/bootstrap.min.js"></script>
