
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/styles/css.css" />
<link rel="stylesheet" href="~/styles/bootstrap.min.css" />






<div class="container-fluid ">
    <h2>Hej och välkommen!</h2>

    <img src="http://placehold.it/1000x350" style="width:100%;">
    @*<div class="row">
        <div class="col-md-4" style="border:2px solid black;">
            <p>Detta är första sidan som komme</p>
        </div>
        <div class="col-md-4" style="border:2px solid black;">
            <p>Detta är första sidan som kommer </p>
        </div>
        <div class="col-md-4" style="border:2px solid black;">
            <p>Detta är första sidan</p>
        </div>
    </div>*@
    
  <div>
      <h2>Beskrivning av Engelholms storband</h2>
      <br />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada, augue vel laoreet sodales, est justo ullamcorper turpis, quis hendrerit orci nunc ut tellus. Aliquam urna tellus, eleifend in purus in, tempor commodo justo. Vivamus vitae mi ac massa pellentesque fermentum eget non mi. Duis in dignissim purus. Phasellus faucibus arcu at lorem cursus, at elementum eros mattis. Curabitur neque lorem, varius eu libero eget, congue egestas mi. Nunc commodo nulla ut nisl dignissim tristique. Pellentesque tincidunt nec tellus ut pharetra. Morbi metus felis, placerat at mollis ut, fermentum vitae dui.<br />

            Phasellus eu auctor ipsum. Curabitur et ex sodales, porta ligula ac, sollicitudin dui. Vestibulum cursus, lacus a accumsan blandit, risus massa consectetur arcu, ac posuere enim erat nec urna. Donec vel justo ullamcorper, mattis est in, ullamcorper massa. Integer augue augue, vulputate quis ipsum a, efficitur pharetra justo. Integer vitae suscipit lorem, congue commodo lacus. Aenean lacus urna, aliquet a velit a, faucibus condimentum purus. Cras lobortis nunc eu nunc ultrices, quis iaculis ligula volutpat. Suspendisse sed nisl non ligula rutrum vehicula eu nec massa. Aliquam laoreet, urna quis convallis bibendum, tortor ante imperdiet justo, a viverra nibh nisl nec magna. Quisque in enim at enim maximus sagittis ut ac ipsum. Sed vel nisi eros.<br />

            Praesent vulputate vestibulum gravida. Proin sed mauris sit amet sapien egestas hendrerit. Nunc ut sapien vel eros semper ultrices tincidunt vitae lacus. Praesent placerat nisl sed dolor iaculis dictum. Proin dictum arcu a placerat bibendum. Proin vel purus eu arcu auctor pharetra. Aenean eu rhoncus nibh. Fusce in tincidunt urna.<br />

            Curabitur auctor ex id augue fermentum, sit amet facilisis felis efficitur. Etiam ut iaculis lorem. Vestibulum eros risus, sagittis quis justo at, faucibus mattis lectus. Donec mollis nisi nulla, tempor venenatis nunc ornare non. Aenean ac viverra quam. Donec consectetur leo vel massa malesuada vestibulum. In consequat faucibus augue eu interdum. Vivamus pharetra lectus quis sodales tincidunt. Vestibulum rutrum urna quis urna convallis pellentesque. Donec vel neque sollicitudin, vehicula velit in, sagittis enim. Praesent nulla nisi, imperdiet ut aliquet eu, aliquet in elit. Nunc nec neque mi. Mauris dolor ligula, fermentum ut consequat at, mollis sit amet mi. Aenean interdum quam a semper vulputate. Integer facilisis orci magna, ac placerat dolor varius dictum.</p>
  </div>
      
  <div class="row">
      <div class="col-md-4"><img src="http://placehold.it/350x350"></div>      
      <div class="col-md-4"><img src="http://placehold.it/350x350"></div>      
      <div class="col-md-4"><img src="http://placehold.it/350x350"></div>      
  </div>
    


</div>

<script src="~/Scripts/bootstrap.min.js"></script>
