
@{
    ViewBag.Title = "Orkestrarna";
}

<link rel="stylesheet" href="~/styles/css.css" />
<link rel="stylesheet" href="~/styles/bootstrap.min.css" />

<h2>Orkestrarna</h2>

<script src="~/Scripts/bootstrap.min.js"></script>

